
* {
  box-sizing: border-box;
}

/* Bolding h2 tags */
h2 {
  font-weight: bold;
  color: rgb(4, 4, 12);
  text-align: center;
}

/*Creating thicker hr line */
hr.line {
  border:  1px solid black;
}

/*media query to fix elements when resized to 450px and below */
@media screen and (max-width: 400px) {
  body {
    width: auto;
  }
  
  /*Setting wrapper width*/
  .wrapper {
    width: 100%;
  }

  /*Repositioning of the contact form*/
  #contact,
  #index,
  #portfolio {
      padding-right: 15px;
      margin-right: 10%;
      padding-top: 10px;
      padding-bottom: 30%;
      /* margin-bottom: 10%; */
      width: auto;
  }
  
  /*Floating bio right to clear the picture*/
  .bio {
      float: right;
  }

}